{% extends 'main.html' %}

{% block title %}Update document | SloopStash AIA{% endblock %}

{% block content %}
<div class="row">
  <div class="col s1 m1 l1"></div>
  <div class="col s15 m15 l15">
    <div class="block">
      <div class="block-header clearfix valign-wrapper">
        <div class="block-title left">
          <h2><i class="fa-regular fa-file-lines"></i> Update document</h2>
        </div>
        <div class="block-menu right"></div>
      </div>
      <div class="block-content">
        <form class="form" method="post" autocomplete="off" action="/document/{{var['document']['id']}}/update">
          <div class="row">
            <div class="input-field col s24 m24 l24">
              <input id="name" name="name" type="text" data-length="150" maxlength="150" value="{{var['document']['name']}}" required>
              <label for="name">Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s24 m24 l24">
              <textarea id="description" name="description" class="materialize-textarea" data-length="255" maxlength="255" required>{{var['document']['description']}}</textarea>
              <label for="description">Description</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s24 m24 l24">
              <textarea id="content" name="content" class="materialize-textarea" data-length="5000" maxlength="5000" required>{{var['document']['content']}}</textarea>
              <label for="content">Content</label>
            </div>
          </div>
          <button type="submit" class="btn-small right">Save</button>
          <a class="btn-flat right" href="/dashboard?tab=documents">Cancel</a>
        </form>
      </div>
      <div class="block-footer">
        <div class="block-action right"></div>
      </div>
    </div>
  </div>
  <div class="col s8 m8 l8"></div>
</div>
{% endblock %}
